<div class="container">
  <div class="row">
    <div class="fixed-top" data-toggle="affix">
      <div class="navbar navbar-default navbar-expand-sm py-3 align-items-start" id="first">
        <a routerLink="/"> <img src="//theme.hstatic.net/1000191320/1000558385/14/logo.png?v=650" id="logo"
            alt="Bác Tôm"></a>
        <div class="navbar-collapse collapse">
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control search" type="search" placeholder="Bạn đang tìm kiếm sản phẩm gì?..."
              aria-label="Search" style="width: 300px;">
            <button class="btn  my-2 my-sm-0" type="submit" id="button">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </form>
          <div class="grid__item large--six-tenths medium-down--hide pd-left0">
            <div class="icon_header icon_facebook">
              <a href="">
                <img src="//theme.hstatic.net/1000191320/1000558385/14/fb_header.png?v=650">
              </a>
            </div>
            <div class="icon_header icon_hotline">
              <a href="tel:0911008006">
                <img src="//theme.hstatic.net/1000191320/1000558385/14/hotline_header.png?v=650">
                <span>0911008006</span>
              </a>
            </div>
          </div>
          <div class="grid__item large--four-tenths medium-down--hide pd-left0">
            <div class="giaohang2h_header text-center">
              <a href="">
                <img id="logo2" src="//theme.hstatic.net/1000191320/1000558385/14/giaohang2h_header.png?v=650">
              </a>
            </div>
          </div>
          <div class="dropdown">
            <button class="btn " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <i class="fa fa-user fa-fw"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Đăng Nhập</a>
              <a class="dropdown-item" href="#">Đăng Ký</a>
            </div>
          </div>
          <div class="shopping-cart">
            <a href="#"><i class="fa fa-shopping-cart"></i> <span>3</span></a>
          </div>
        </div>
      </div>
      <div class="navbar navbar-custom  navbar-expand pl-2" id="second">
        <div class="nav1">
          <ul class="nav navbar-nav1">
            <li class="nav-item dropdown ">
              <a class="nav-link " href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-bars" aria-hidden="true"></i> Danh mục sản phẩm
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item2" routerLink="/collections/san-pham-trong-diem">
                  <img src="//theme.hstatic.net/1000191320/1000558385/14/megamenu_item_icon1.png?v=650"
                    alt="Dinh dưỡng thiết yếu">
                  Dinh dưỡng thiết yếu
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item2" routerLink="/collections/rau-huu-co">
                  <img src="//theme.hstatic.net/1000191320/1000558385/14/megamenu_item_icon3.png?v=650"
                    alt="Rau củ an toàn">
                  Rau hữu cơ
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item2" href="/collections/thit-ca-dan-da">
                  <img src="//theme.hstatic.net/1000191320/1000558385/14/megamenu_item_icon4.png?v=650"
                    alt="Thịt cá dân dã">
                  Thịt cá dân dã
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item2" href="/collections/trai-cay">
                  <img src="//theme.hstatic.net/1000191320/1000558385/14/megamenu_item_icon5.png?v=650" alt="Trái cây">
                  Trái cây
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item2" href="/collections/do-so-che">
                  <img src="//theme.hstatic.net/1000191320/1000558385/14/megamenu_item_icon6.png?v=650" alt="Đồ sơ chế">
                  Đồ sơ chế
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item2" href="/collections/hai-san">
                  <img src="//theme.hstatic.net/1000191320/1000558385/14/megamenu_item_icon7.png?v=650" alt="Hải sản">
                  Hải sản
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item2" href="/collections/hang-kho">
                  <img src="//theme.hstatic.net/1000191320/1000558385/14/megamenu_item_icon8.png?v=650" alt="Hàng khô">
                  Hàng khô
                </a>
              </div>
            </li>
          </ul>
        </div>
        <div class="nav">
          <ul class="nav2 navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Danh Sách Cửa Hàng
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Về Bác Tôm
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link dropdown-toggle"
                routerLink="/collections/sale"
                id="navbarDropdown"
                role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Khuyến Mại
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link dropdown-toggle"
              routerLink="/collections/san-pham-trong-diem"
              id="navbarDropdown"
                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bán Chạy
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Tư Vấn Dinh Dưỡng
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
